body{
    text-align:center;
}

div#container{
    /* margin: 0 auto; */
    /* width: 800px; */
}

#label3{
    margin-right: 235px;
}

#label5{
    margin-right: 210px;
}

#passcheck{
    /* margin-right: 100px; */

}

#create{
    margin: 10px;
}
