<div class="container">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://broken-telephone-game.herokuapp.com" data-lang="ja" data-related="pro_shunsuke" data-dnt="true">ツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <h1>お絵かき伝言ゲーム</h1>

  <h3 style="margin-top: 10px;"><i class="icon-heart" style="margin-top: 3px;"></i>お絵かき伝言ゲームとは？</h3>
  <p>
    通常の伝言ゲームは「言葉」を伝えていきますが、お絵かき伝言ゲームでは「絵」を伝えていきます。
  </p>
  <p>
    その名の通り「お絵かき伝言ゲーム」です。
  </p>
  <p>
    前の人の絵を見て、その絵をたよりに絵を描いて、そしてその絵を伝えていく・・・。</br>
    とっても簡単なゲームです。気軽に遊んでください！
  </p>

  <h3 style="margin-top: 10px;"><i class="icon-heart" style="margin-top: 3px;"></i>遊び方</h3>
  <ol>
    <li>部屋に入りましょう</li>
    <li>部屋がない場合は作りましょう</li>
    <li>ホストになって描く順番を決めましょう</br>もしくは誰か代わりにホストになってもらいましょう</li>
    <li>絵を描きましょう</li>
    <li>ゲームが終了したらキャンバスを画像化しましょう</li>
  </ol>


</div>
