<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/jquery/jquery-ui-1.10.0.custom.min.js"></script>
<div class="container">
  <h3 style="margin-top: 10px;"><i class="icon-heart" style="margin-top: 3px;"></i>連絡先</h3>
  <p>
    本システムは<a href="https://github.com/proshunsuke/broken-telephone-game">こちら</a>のgithubにて公開しています。
  </p>
  <p>
    ご意見ご要望のある方は以下のアドレス、またはこちら<a href="https://twitter.com/pro_shunsuke">@pro_shunsuke</a>までご連絡ください。
  </p>
  <p>
    shunsuke0901@gmail.com
  </p>
</div>
