<div class="container">
  <h3 style="margin-top: 10px;"><i class="icon-heart" style="margin-top: 3px;"></i>連絡先</h3>
  <p>
    ご意見ご要望のある方は以下のアドレス、またはこちら<a href="https://twitter.com/pro_shunsuke">@pro_shunsuke</a>までご連絡ください。
  </p>
  <p>
    shunsuke0901@gmail.com
  </p>
</div>
