<link rel="stylesheet" href="stylesheets/create/create.css" type="text/css" media="all">
<script type="application/javascript;version=1.7" src="javascripts/create/sync.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/create/room.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/create/mouseEvent.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/create/checkCreate.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/create/toInstance.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/create/onLoad.js"></script>


<div class="container">
  <form method="post" class="form-inline" action="" id="toroom"  onSubmit="return checkCreate.init()">
    <span class="label label-success" id="label3">部屋名</span></br>
    <input class="input-xlarge" name="roomname"
           type="text" placeholder="部屋のなまえを入力してください"
           text-align="center" id="room"></br>
    <span class="label label-success" id="label3">なまえ</span></br>
    <input class="input-xlarge" name="username"
           type="text" placeholder="なまえを入力してください"
           text-align="center" id="name"></br>
    <label class="checkbox">
      <input type="checkbox" id="passcheck">パスワードを設定する
    </label></br>
    <span class="label label-success" id="label5">パスワード</span></br>
    <input class="input-xlarge disabled" name="password"
           type="text" placeholder="パスワードを入力してください"
           text-align="center" id="password" disabled></br>
    <button type="submit" class="btn btn-primary btn-large center" id="create">作る</button>
  </form>

</div>
