<link rel="stylesheet" href="stylesheets/jquery/jquery-ui-1.10.0.custom.css" type="text/css" media="all">
<link rel="stylesheet" href="stylesheets/enter/index.css" type="text/css" media="all">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/jquery/jquery-ui-1.10.0.custom.min.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/enter/sync.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/enter/room.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/enter/checkEnter.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/enter/toInstance.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/enter/onLoad.js"></script>

<form method="post" action="" id="toroom"  onSubmit="return checkEnter.init()">
  <span class="label label-success" id="name">なまえ</span></br>
  <input class="input-xlarge" name="username"
         type="text" placeholder="なまえを入力してください"
         text-align="center" id="nameArea"></br>
  <button type="submit" class="btn btn-primary btn-large center" id="enter">入る</button>
</form>
