<footer>
  <!-- ===== copyright ===== -->
  <div class="container">
  <div class="row">
    <div class="span12">
      <hr>
      <p>© 2013 <a href="https://twitter.com/pro_shunsuke">@pro_shunsuke</a> Rights Reserved.</p>
    </div>
  </div>
  </div>
</footer>
