<script type="application/javascript;version=1.7" src="javascripts/gallery/sync.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/gallery/gallery.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/gallery/toInstance.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/gallery/onLoad.js"></script>

<h1>Gallery テストページ</h1>
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="thumbnails" id="image_png">
            </ul>
        </div>
    </div>
</div>
