<header>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><%=title%></a>
          <div class="nav-collapse">
            <ul class="nav" id="nav-ul">
              <li id="index"><a href="/">Home</a></li>
              <li id="about"><a href="/about">Abount</a></li>
              <li id="contact"><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</header>
<script type="text/javascript">
  window.onload = function(){
     $('#<%= pagename %>').addClass("active");
  }
</script>

