<link rel="stylesheet" href="stylesheets/jquery/jquery-ui-1.10.0.custom.css" type="text/css" media="all">
<link rel="stylesheet" href="stylesheets/index/index.css" type="text/css" media="all">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/jquery/jquery-ui-1.10.0.custom.min.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/index/sync.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/index/room.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/index/mouseEvent.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/index/toInstance.js"></script>

<script type="application/javascript;version=1.7" src="javascripts/index/onLoad.js"></script>

<div class="container">
  <div class="hero-unit">
    <a class="titleLink" href="/"><h1><%= title %></h1></a>
  </div>
  <div id="page" name="<%= pagename %>"></div>
  <a href="/create" class="btn" id="enter">部屋を作る</a><br/>

  <ul class="thumbnails" id="rooms">
  </div>

</div>


