<div class="countainer">
  <div class="span9">
    <div class="span9">
      <div class="hero-unit">
        <a class="titleLink" href="/"><h1><%= title %></h1></a>
      </div>
    </div>
    <div class="span3">
      <form method="post" action="/paint">
        <span class="label label-success">なまえ</span>
        <input class="input-xlarge" name="username"
               type="text" placeholder="なまえを入力してください">
        <button type="submit" class="btn btn-primary btn-large">入る</button>
      </form>
    </div>
  </div>
  <div class="span3">
  </div>
</div>
