<link rel="stylesheet" href="stylesheets/index.css" type="text/css" media="all">
<div class="container">
  <div class="hero-unit">
    <a class="titleLink" href="/"><h1><%= title %></h1></a>
  </div>
<form method="post" action="/paint">
  <div id="name">
  <span class="label label-success">なまえ</span></br>
  </div>
  <input class="input-xlarge" name="username"
         type="text" placeholder="なまえを入力してください"
         text-align="center"></br>
  <button type="submit" class="btn btn-primary btn-large center">入る</button>
</form>
<!-- <form method="post" action="/paint2"> -->
<!--   <div id="name"> -->
<!--   <span class="label label-success">なまえ</span></br> -->
<!--   </div> -->
<!--   <input class="input-xlarge" name="username" -->
<!--          type="text" placeholder="なまえを入力してください" -->
<!--          text-align="center"></br> -->
<!--   <button type="submit" class="btn btn-primary btn-large center">入る</button> -->
<!-- </form> -->

</div>


