<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="stylesheet" href="/stylesheets/style.css"><link/>
    <style type="text/css">
      footer{
      text-align: center;
      }
    </style>
    <script type="application/javascript;version=1.7" src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <% include header %>
    <%- body %>
    <% include footer%>
  </body>
</html>
