<link rel="stylesheet" href="stylesheets/jquery/jquery-ui-1.10.0.custom.css" type="text/css" media="all"/>
<link rel="stylesheet" href="stylesheets/room/paint.css" type="text/css" media="all"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/jquery/jquery-ui-1.10.0.custom.min.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/rgbcolor.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/const.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/oekaki_list.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/layer.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/paint.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/sync.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/user.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/tool.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/chat.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/game.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/room.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/audios.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/showTheTime.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/mouseEvent.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/keypressEvent.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/slideEvent.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/jscolor/jscolor.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/toInstance.js"></script>
<script type="application/javascript;version=1.7" src="javascripts/room/onLoad.js"></script>

<div class="container">
<div class="row">
<ul class="thumbnails">
<li class="span8">
    <span class="badge" id="mode">待機中</span>
    <span class="badge badge-success" id="yourname" value="<%= username %>">あなたは <%= username %> さんです</span>
    <span class="badge badge-success" id="drawing">誰も描いていません</span>
    <span class="badge badge-warning" id="finishtime">終了予定：</span>
    <span class="badge badge-inverse" id="thetime">err</span>
    <div class="progress progress-striped active">
        <div class="bar" style="width: 0%;" data-rate="0"></div>
    </div>
    <div class="thumbnail" id="canvasbox">

        <div id="button">
            <div id="canvasTool" style="display:inline-block;">
                <a class="btn disabled" id="undo">戻る</a>
                <a class="btn disabled" id="restore">復元</a>
                <a class="btn disabled" id="clear">消去</a>
                <a class="btn" id="save">絵を保存</a>
            </div>
            <div id="hostTool" style="display:inline-block;">
                <a class="btn btn-warning" id="host" style="visibility:hidden;">設定</a>
                <a class="btn btn-warning" id="newgame" style="visibility:hidden;">NEWGAME</a>
            </div>
            <div id="gameTool" style="display:inline-block;">
                <a class="btn btn-primary" id="startdraw" style="visibility:hidden;">描き始める</a>
                <a class="btn btn-primary" id="toimg" style="visibility:hidden;">絵の一覧</a>
            </div>
        </div>

        <div id="canvases">
            <canvas id="canvasAreaDrawing1" width="600" height="400" style="position: absolute; z-index:6">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
            <canvas id="canvasArea1" width="600" height="400" style="position: absolute; z-index:5">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
            <canvas id="canvasAreaDrawing2" width="600" height="400" style="position: absolute; z-index:4">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
            <canvas id="canvasArea2" width="600" height="400" style="position: absolute; top:-400; z-index:3">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
            <canvas id="canvasAreaDrawing3" width="600" height="400" style="position: absolute; z-index:2">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
            <canvas id="canvasArea3" width="600" height="400" style="position: absolute; z-index:1">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
            <canvas id="canvasAreaSave" width="600" height="400" style="position: relative; z-index:0">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
        </div>
    </div>

    <div class="thumbnail" id="hostSettingArea" style="display:none; height: 180px">
        <div class="span2" id="userInHost">
            <span class="label label-success">ログイン中のユーザ</span>
            <div id="canvasusernameArea" class="thumbnail alert alert-info">
            </div>
        </div>
        <div class="span2" id="orderInHost">
            <span class="label label-success">描く順番</span>
            <div id="canvasordernameArea" class="thumbnail alert alert-info">
            </div>
        </div>
        <div class="span2" id="timeInHost">
            <span class="label label-warning">描く時間</span>
            <div id="toolArea" class="thumbnail alert alert-info">
                <div id="timebutton">
                    <input name="drawtime" id="5" type="radio">５秒<br>
                    <input name="drawtime" id="30" type="radio">３０秒<br>
                    <input name="drawtime" id="60" type="radio">１分<br>
                    <input name="drawtime" id="90" type="radio">１分３０秒<br>
                    <input name="drawtime" id="120" checked="checked" type="radio">２分<br>
                    <input name="drawtime" id="180" type="radio">３分<br>
                </div>
            </div>
        </div>
        <div class="span1">
            <a class="btn btn-warning disabled" id="start">開始</a>
        </div>
    </div>

    <div class="container">
        <form class="form-vertical">
            <div class="control-group">
                <div class="controls">
                    <div id="commentArea">
                        <li class="span4">
                            <span class="label label-success" id="commentList">コメント</span></br>
                            <input type="text" id="commentPushArea"/>
                            </il>
                        <li class="span4">
                            <div id="commentGetArea">
                                <textarea class="" id="textarea"
                                          readonly="readonly" style="background-color:#FFFFFF;font-size:12px;"></textarea>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </form>
    </div>

</li>

<li class="span2">

    <span class="label label-warning">ペイントツール</span>
    <div id="toolArea" class="thumbnail alert alert-info">
        <div id="toolBox">
            <table class="toolTable" border="1" bordercolor="#FFFFFF" width="100%" style="table-layout: fixed;">
                <tr>
                    <td class="clict" id="toolList" value="brush1"><img src="medias/images/toolBrush1.png" alt="見えません"></td>
                    <td class="ofclict" id="toolList" value="eraser"><img src="medias/images/toolEraser.png" alt="見えません"></td>
                    <td class="ofclict" id="toolList" value="spuit"><img src="medias/images/toolSpuit.png" alt="見えません"></td>
                    <td class="ofclict" id="toolList"></td>
                </tr>
                <tr>
                    <td class="ofclict" id="toolList"></td>
                    <td class="ofclict" id="toolList"></td>
                    <td class="ofclict" id="toolList"></td>
                    <td class="ofclict" id="toolList"></td>
                </tr>
            </table>
        </div>
    </div>

    <span class="label label-warning">カラー</span>
    <div id="colorArea" class="thumbnail alert alert-info">
        <input id="newcolor" class="color" style="background-color:#000000">

        <table border="1" bordercolor="#FFFFFF" width="100%" style="table-layout: fixed;">
            <tr>
                <!-- 黒 -->
                <td class="ofclic" id="colorlist"  style="background-color:#FFFFFF"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#b9b9b9"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#757575"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#363636"></td>
                <td class="clic" id="colorlist"  style="background-color:#000000"></td>
            </tr>
            <tr>
                <!-- 水青 -->
                <td class="ofclic" id="colorlist"  style="background-color:#A6D4EC"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#53ABDA"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#0680C6"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#044F7B"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#022437"></td>
            </tr>
            <tr>
                <!-- 緑 -->
                <td class="ofclic" id="colorlist"  style="background-color:#B8D7B8"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#73AF72"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#30862F"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#1E531D"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#0D250D"></td>
            </tr>
            <tr>
                <!-- 黄緑 -->
                <td class="ofclic" id="colorlist"  style="background-color:#D2E2AD"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#A5C45E"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#79A514"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#4A660D"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#222E06"></td>
            </tr>
            <tr>
                <!-- 黄色 -->
                <td class="ofclic" id="colorlist"  style="background-color:#F4E4A3"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#E8C84C"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#DDAC00"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#886A00"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#3E3000"></td>
            </tr>
            <tr>
                <!-- オレンジ -->
                <td class="ofclic" id="colorlist"  style="background-color:#F9CBA4"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#F4994F"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#EE6602"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#933F02"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#421C00"></td>
            </tr>
            <tr>
                <!-- 濃いオレンジ -->
                <td class="ofclic" id="colorlist"  style="background-color:#F7BAA6"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#F07852"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#E83606"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#902204"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#400F02"></td>
            </tr>
            <tr>
                <!-- 赤 -->
                <td class="ofclic" id="colorlist"  style="background-color:#F3A3A3"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#E64C4C"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#DA0000"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#860000"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#3D0000"></td>

            </tr>
            <tr>
                <!-- 濃い赤 -->
                <td class="ofclic" id="colorlist"  style="background-color:#E7A3B5"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#CF4C6F"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#B5002B"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#70001B"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#33000C"></td>

            </tr>
            <tr>
                <!-- 紫 -->
                <td class="ofclic" id="colorlist"  style="background-color:#DBA5D2"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#B750A5"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#920478"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#5A024A"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#290122"></td>

            </tr>
            <tr>
                <!-- 青紫 -->
                <td class="ofclic" id="colorlist"  style="background-color:#CAAEDD"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#9761BC"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#631899"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#3E0F5F"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#1C062B"></td>
            </tr>
            <tr>
                <!-- 青 -->
                <td class="ofclic" id="colorlist"  style="background-color:#B4B9E8"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#6B73D2"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#2631BB"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#171E73"></td>
                <td class="ofclic" id="colorlist"  style="background-color:#0B0E34"></td>
            </tr>
        </table>
    </div>
</li>

<li class="span2">

    <span class="label label-warning">ライン</span>
    <div id="toolArea" class="thumbnail alert alert-info">
        <div id="blushBox">
            ブラシ幅<br/>
            <table class="brushTable" border="1" bordercolor="#FFFFFF" width="100%" style="table-layout: fixed;">
                <tr>
                    <td class="ofclicb" id="brushList" value="1"><img src="medias/images/brush2.png" alt="見えません"></td>
                    <td class="clicb" id="brushList" value="2"><img src="medias/images/brush3.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="4"><img src="medias/images/brush4.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="6"><img src="medias/images/brush5.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="8"><img src="medias/images/brush6.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="10"><img src="medias/images/brush7.png" alt="見えません"></td>
                </tr>
                <tr>
                    <td class="ofclicb" id="brushList" value="15"><img src="medias/images/brush8.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="20"><img src="medias/images/brush9.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="30"><img src="medias/images/brush10.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="40"><img src="medias/images/brush11.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="50"><img src="medias/images/brush12.png" alt="見えません"></td>
                    <td class="ofclicb" id="brushList" value="100"><img src="medias/images/brush13.png" alt="見えません"></td>
                </tr>
            </table>
        </div>
        <div id="alphaBox">
            透明度<br/>
            <table class="alphaTable" border="1" bordercolor="#FFFFFF" width="100%" style="table-layout: fixed;">
                <tr>
                    <td class="ofclica" id="alphaList" value="0.01"><img src="medias/images/alpha1.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.10"><img src="medias/images/alpha10.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.19"><img src="medias/images/alpha19.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.28"><img src="medias/images/alpha28.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.37"><img src="medias/images/alpha37.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.46"><img src="medias/images/alpha46.png" alt="見えません"></td>
                </tr>
                <tr>
                    <td class="ofclica" id="alphaList" value="0.55"><img src="medias/images/alpha55.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.64"><img src="medias/images/alpha64.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.73"><img src="medias/images/alpha73.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.82"><img src="medias/images/alpha82.png" alt="見えません"></td>
                    <td class="ofclica" id="alphaList" value="0.91"><img src="medias/images/alpha91.png" alt="見えません"></td>
                    <td class="clica" id="alphaList" value="1.00"><img src="medias/images/alpha100.png" alt="見えません"></td>
                </tr>
            </table>
        </div>
    </div>

    <span class="label label-warning" id="layers">レイヤー</span>
    <div id="layerArea" class="thumbnail alert alert-info">
        <ul id="layerul" class="nav nav-tabs nav-stacked">
            <li id="1" style="background-color:#FFFFFF;" class="active">
                <a href="javascript:void(0)">レイヤー１</a>
            </li>
            <li id="2" style="background-color:#FFFFFF;">
                <a href="javascript:void(0)">レイヤー２</a>
            </li>
            <li id="3" style="background-color:#FFFFFF;">
                <a href="javascript:void(0)">レイヤー３</a>
            </li>
        </ul>
    </div>

    <span class="label label-success" id="userslist">ログイン中のユーザ</span>
    <div id="usernameArea" class="thumbnail alert alert-info">
    </div>

</li>
</ul>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="thumbnails" id="image_png">
            </ul>
        </div>
    </div>
</div>
