

<link rel="stylesheet" href="stylesheets/paint/jquery-ui-1.10.0.custom.css" type="text/css" media="all">
<link rel="stylesheet" href="stylesheets/paint/paint.css" type="text/css" media="all">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/paint/jquery-ui-1.10.0.custom.min.js"></script>
<script type="text/javascript" src="javascripts/paint/rgbcolor.js"></script>
<script type="text/javascript" src="javascripts/paint/const.js"></script>
<script type="text/javascript" src="javascripts/paint/paint.js"></script>
<script type="text/javascript" src="javascripts/paint/sync.js"></script>
<script type="text/javascript" src="javascripts/paint/user.js"></script>
<script type="text/javascript" src="javascripts/paint/tool.js"></script>
<script type="text/javascript" src="javascripts/paint/layer.js"></script>
<script type="text/javascript" src="javascripts/paint/chat.js"></script>
<script type="text/javascript" src="javascripts/paint/game.js"></script>
<script type="text/javascript" src="javascripts/paint/room.js"></script>
<script type="text/javascript" src="javascripts/paint/toInstance.js"></script>
<script type="text/javascript" src="javascripts/paint/onLoad.js"></script>

<div class="container">
  <div class="row">
    <ul class="thumbnails">
      <li class="span8">
        <span class="badge" id="mode">待機中</span>
        <span class="badge badge-success" id="yourname" value="<%= username %>">あなたは <%= username %> さんです</span>
        <span class="badge badge-success" id="drawing">誰も描いていません</span>
        <span class="badge badge-warning" id="finishtime">終了予定：</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;" data-rate="0"></div>
          </div>
        <div class="thumbnail">
          <div id="canvasbox">
            <div id="canvases">
              <canvas id="canvasArea1" width="600" height="400" style="position: absolute; z-index:3">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
              <canvas id="canvasArea2" width="600" height="400" style="position: absolute; top:-400; z-index:2">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
              <canvas id="canvasArea3" width="600" height="400" style="position: absolute; z-index:1">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
              <canvas id="canvasAreaSave" width="600" height="400" style="position: relative; z-index:0; <!-- visibility:hidden; -->">お使いのブラウザはHTML5のCanvas要素に対応していません。</canvas>
            </div>

            <!-- <div id="button"> -->
            <!--   <input type="radio" name="brush" id="brush1" checked="checked"/><\!-- <label for="brush1"> -\-><\!-- <img src="pen1.gif" alt="ブラシ" title="ブラシ"> -\->ブラシ<\!-- </label> -\-> -->
            <!--   <\!-- 　<input type="radio" name="brush" id="brush2" /><label for="brush2"><img src="pen2.gif" alt="ぼかし１" title="ぼかし１"></label> -\-> -->
            <!--   <\!-- 　<input type="radio" name="brush" id="brush3" /><label for="brush3"><img src="pen3.gif" alt="ぼかし２" title="ぼかし２"></label> -\-> -->
            <!--   <\!-- 　<input type="radio" name="brush" id="brush4" /><label for="brush4"><img src="pen4.gif" alt="パステル" title="パステル"></label> -\-> -->
            <!--   <\!-- 　<input type="radio" name="brush" id="miter" /><label for="miter"><img src="penm.gif" alt="角ペン" title="角ペン"></label> -\-> -->
            <!--   <input type="radio" name="brush" id="eraser" /><\!-- <label for="eraser"> -\-><\!-- <img src="pen0.gif" alt="消しゴム" title="消しゴム"> -\->消しゴム<\!-- </label> -\-> -->
            <!--   <input type="radio" name="brush" id="spuit" /><\!-- <label for="spuit"> -\-><\!-- <img src="spuit.gif" alt="スポイト" title="スポイト"> -\->スポイト<\!-- </label> -\-> -->
            <!-- </div> -->

            <div id="hostSettingArea" style="display:none;">
              <div class="span2" id="userInHost">
                <span class="label label-success">ログイン中のユーザ</span>
                <div id="canvasusernameArea" class="thumbnail alert alert-info">
                </div>
              </div>
              <div class="span2" id="orderInHost">
                <span class="label label-success">描く順番</span>
                <div id="canvasordernameArea" class="thumbnail alert alert-info">
                </div>
              </div>
              <div class="span2" id="timeInHost">
                <span class="label label-warning">描く時間</span>
                <div id="toolArea" class="thumbnail alert alert-info">
                  <div id="timebutton">
                    <input name="drawtime" id="5" type="radio">５秒<br>
                    <input name="drawtime" id="30" type="radio">３０秒<br>
                    <input name="drawtime" id="60" type="radio">１分<br>
                    <input name="drawtime" id="90" type="radio">１分３０秒<br>
                    <input name="drawtime" id="120" checked="checked" type="radio">２分<br>
                    <input name="drawtime" id="180" type="radio">３分<br>
                  </div>
                </div>
              </div>
            </div>

            <div id="button">
              <div id="canvasTool" style="display:inline-block;">
                <a class="btn" id="undo">戻る</a>
                <a class="btn" id="restore">復元</a>
                <a class="btn" id="clear">消去</a>
                <a class="btn" id="save">画像で保存</a>
              </div>
              <div id="gameTool" style="display:inline-block;">
                <a class="btn btn-primary" id="startdraw" style="visibility:hidden;">描き始める</a>
                <a class="btn btn-warning disabled" id="start" style="visibility:hidden;">ゲーム開始</a>
              </div>
            </div>


          </div>
        </div>
      </li>


      <li class="span2">
        <span class="label label-warning">ペイントツール</span>
        <div id="toolArea" class="thumbnail alert alert-info">
          <!-- <div id="colorlist"> -->
            <!-- <div id="button"> -->
            <!--   <input type="button" id="back1" value="白背景" /> -->
            <!--   <input type="button" id="back2" value="黒背景" /> -->
            <!--   <input type="button" id="back3" value="透明" /> -->
            <!-- </div> -->
            <!-- </div> -->
            <div id="button">
              <input type="radio" name="tool" id="brush1" checked="checked"/>ブラシ
              <input type="radio" name="tool" id="eraser" />消しゴム</br>
              <input type="radio" name="tool" id="spuit" />スポイト</br>
            </div>
        </div>

                <span class="label label-warning">カラー</span>
        <div id="colorArea" class="thumbnail alert alert-info">
          <div id="newcolor" style="background-color:#000000"></div>
          <table border="1" bordercolor="#FFFFFF" width="100%" style="table-layout: fixed;">
            <tr>
              <!-- 黒 -->
              <td class="ofclic" id="colorlist"  style="background-color:#FFFFFF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#999999"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#666666"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#333333"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#000000"></td>
            </tr>
            <tr>
              <!-- 水青 -->
              <td class="ofclic" id="colorlist"  style="background-color:#C0FFFF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#61CCFF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#0099FF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#004CA3"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#000047"></td>

            </tr>
            <tr>
              <!-- 緑 -->
              <td class="ofclic" id="colorlist"  style="background-color:#A0FFA0"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#50B250"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#006600"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#004700"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#002600"></td>
            </tr>
            <tr>
              <!-- 黄緑 -->
              <td class="ofclic" id="colorlist"  style="background-color:#A0FFA0"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#50FF50"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#00FF00"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#009B00"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#003700"></td>

            </tr>
            <tr>
              <!-- 黄色 -->
              <td class="ofclic" id="colorlist"  style="background-color:#FFFFA0"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#FFFF4E"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#FFFF00"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#A5A500"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#494900"></td>

            </tr>
            <tr>
              <!-- オレンジ -->
              <td class="ofclic" id="colorlist"  style="background-color:#FFB986"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#FF8F43"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#FF6600"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#BB4B00"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#562300"></td>

            </tr>
            <tr>
              <!-- 赤 -->
              <td class="ofclic" id="colorlist"  style="background-color:#FFB9FF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#FF5C80"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#FF0000"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#BD0000"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#7C0000"></td>

            </tr>
            <tr>
              <!-- 紫 -->
              <td class="ofclic" id="colorlist"  style="background-color:#FFC0FF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#CC60CC"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#990099"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#520052"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#290029"></td>

            </tr>
            <tr>
              <!-- 青 -->
              <td class="ofclic" id="colorlist"  style="background-color:#D0D0FF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#6969FF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#0000FF"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#00009F"></td>
              <td class="ofclic" id="colorlist"  style="background-color:#00003F"></td>
            </tr>

          </table>

        </div>


        <!-- <div id="colorpick"> -->
        <!--   <input type="text" id="color" name="color" value="#123456" readonly="readonly" /> -->

        <!--   Color Picker -->
        <!--   <div id="colorpicker"></div> -->
        <!-- </div> -->


        <span class="label label-warning">ライン</span>
        <div id="toolArea" class="thumbnail alert alert-info">
          <div id="bwbox">
            ブラシ幅&nbsp;<input type="text" id="bw" value="10" readonly="readonly" /></br></br>
            <div id="slider">
            </div>
          </div>
          <div id="bwbox">
            透明度　&nbsp;<input type="text" id="alpha" value="100" readonly="readonly" /></br></br>
            <div id="slider2"></div>
          </div>
        </div>

        <span class="label label-warning" id="layers">レイヤー</span>
        <div id="layerArea" class="thumbnail alert alert-info">
          <ul id="layerul" class="nav nav-tabs nav-stacked">
            <li id="1" style="background-color:#FFFFFF;" class="active">
              <a href="javascript:void(0)">レイヤー１</a>
            </li>
            <li id="2" style="background-color:#FFFFFF;">
              <a href="javascript:void(0)">レイヤー２</a>
            </li>
            <li id="3" style="background-color:#FFFFFF;">
              <a href="javascript:void(0)">レイヤー３</a>
            </li>
          </ul>
        </div>

      </li>
      <li class="span2">
        <span class="label label-success" id="userslist">ログイン中のユーザ</span>
        <div id="usernameArea" class="thumbnail alert alert-info">
        </div>
        <a class="btn" id="host">ホストになる</a>
        <a class="btn" id="toimg" style="visibility:hidden;">キャンバスを画像化</a>
        <a class="btn btn-warning" id="newgame" style="visibility:hidden;">NEWGAME</a>

        <form class="form-vertical">
          <div class="control-group">
            <div class="controls">
              <span class="label label-success" id="userslist">コメント</span>
              <div id="usernameArea" class="thumbnail alert alert-info">
              <textarea class="" id="textarea" readonly="readonly" style="background-color:#FFFFFF;font-size:12px;"></textarea>
              </div>
              <input type="text" class="span2" id="commentarea">
            </div>
          </div>
        </form>

      </li>
      </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="thumbnails" id="image_png">
      </ul>
    </div>
  </div>
</div>



