/* body { */
/*     margin: 20px; */
/* } */
canvas {
    /* top: 20px; */
    /* left: 20px; */
    border: 5px solid #ccc;
    /* margin: 0px 0px 10px 0px; */
}
#button {
    position: relative;
    clear: both;
}
#button img { vertical-align:middle; }
#save {

}
#clear {

}
#colorlist {
    /* position: absolute; */
    /* top: 20px; */
    /* left: 550px; */
    /* width: 80px; */
    /* width: 1000px; */
}
ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
}
#colorArea li {
    cursor:pointer;
    cursor:hand;
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 14px;
}
#colorArea td{
    height: 14px;
}
#colorpick {
    width: 220px;
    color : #123456;
}
#color {
    width: 50px;
    height: 10px;
    border: 1px solid #000000;
}

#newcolor{
    width: 15px;
    height: 10px;
    border: 1px solid #000000;
    /* margin: 0px 0px 3px 110px; */
    margin-left: 85%
}

.ofclic { border:1px #FFFFFF solid }
.clic {
    border:1px #000000 solid;
    /* width: 0px; */
    height: 12px;
}

#brush1, #brush2, #brush3, #brush4, #miter, #eraser {
    cursor:pointer;
    cursor:hand;
}
label {
    cursor:pointer;
    cursor:hand;
}
#bwbox {
    margin: 20px 0px 20px 0px;
    font-size:13px;
}
#bw,#alpha {
    display:inline-block;
    width: 25px;
    height: 17px;
    border: 1px solid #BBBBBB;
}
#slider,#slider2 {
    /* margin: -18px 0px 0px 110px;*/
    margin: -18px 0px -10px 5px;
    /* width: 119px; */
    width: 90%;
}
