<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery-ui-1.10.0.custom.min.js"></script>

<script type="text/javascript" src="../javascripts/top/create.js"></script>
<!-- <form method="post" action="/top"> -->

<form method="post" action="" id="toroom">
  <span class="label label-success">部屋名</span></br>
  <input class="input-xlarge" name="roomname"
         type="text" placeholder="部屋のなまえを入力してください"
         text-align="center" id="room"></br>
  <span class="label label-success">なまえ</span></br>
  <input class="input-xlarge" name="username"
         type="text" placeholder="なまえを入力してください"
         text-align="center" id="name"></br>
  <!-- <a href="" class="btn" id="enter">入る</a> -->
  <button type="submit" class="btn btn-primary btn-large center" id="enter">作る</button>
</form>
